body {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
}

.container {
  margin-top: 50vh;
  padding: 16px;
  transform: translate(0,-50%);
}

.title {
  text-align: center;
}

.legend {
  display: block;
  font-size: 14px;
  margin: 4px 0;
}

.legend--strong {
  font-weight: 600;
}

.avatar__photo {
  border-radius: 50%;
  width: 128px;
}

.footer {
  margin-top: 16px;
  text-align: center;
}

@media(min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }

  .title {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
